.footer {
  position: static;

  padding-top: 45px;

  color: $color-gray;
  background-color: $color-dark;
  a {
    color: $color-gray-dark;
    &:hover {
      color: $color-gray;
    }
  }
  &-top {
    &__list {
      padding-left: 0;

      list-style: none;
    }
  }

  &-bottom {
    text-align: center;
    &-item {
      margin: 20px 0;
      a {
        color: $color-gray;
        &:hover {
          color: $color-white;
        }
      }
    }
  }
}
