.header {
  @extend %margin-bottom-lg;
  &-logo {
    padding: 100px 0;

    text-align: center;

    background-color: $color-dark;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-size: cover;
    &__title {
      display: block;

      margin-right: -0.33em;

      letter-spacing: 0.33em;

      color: $color-accent;

      font-family: $font-header;

      @extend %text-shadow;
      @include xs-min {
        font-size: 3.5rem;
      }
      @include xs {
        font-size: 2.5rem;
      }
    }
    &__description {
      display: block;

      letter-spacing: 0.2em;

      color: $color-white;

      font-size: 1.15rem;

      @extend %text-shadow;
    }
  }
}
