.main {
  @extend %margin-bottom-lg;

  .site-search {
    margin-bottom: $gap * 3;
  }
  .user-login {
    margin-bottom: $gap * 4 !important;
  }
}

.new-films {
  overflow: hidden;
  &-row {
    margin-right: -$gap-sm;
    margin-bottom: -$gap;
    margin-left: -$gap-sm;
  }

  &-item {
    margin-bottom: $gap;
    padding-right: $gap-sm;
    padding-left: $gap-sm;
    &:hover {
      .new-films-item__thumbnail {
        background-color: $color-accent;
      }
      .new-films-item__title {
        color: $color-white;
      }
    }

    &__title {
      margin: 0;

      transition: color 0.25s;
      text-align: center;

      color: $color-gray-title;

      font-size: 1rem;
      font-weight: 700;

      @include text-shortener;
    }

    &__thumbnail {
      margin-bottom: 0;

      transition: background-color 0.25s;
    }
    &__image {
      width: 100%;
    }
  }
}

.top-films {
  @include hidden-relative;

  &-row {
    margin-right: -$gap-sm;
    margin-bottom: -$gap;
    margin-left: -$gap-sm;
  }

  &-item {
    margin-bottom: $gap;
    padding-right: $gap-sm;
    padding-left: $gap-sm;
    &:hover {
      .top-films-item__thumbnail {
        background-color: $color-accent;
      }
      .top-films-item__title {
        color: $color-white;
      }
    }
    &__title {
      margin: 0;

      transition: color 0.25s;
      text-align: center;

      color: $color-gray-title;

      font-size: 1rem;
      font-weight: 700;

      @include text-shortener;
    }

    &__thumbnail {
      margin-bottom: 0;

      transition: background-color 0.25s;
    }
    &__image {
      width: 100%;
    }
  }
}

.film-news {
  @include hidden-relative;

  &-row {
    margin-right: -$gap-sm;
    margin-bottom: -$gap;
    margin-left: -$gap-sm;
  }
  &-item {
    position: relative;
    &:hover {
      h3 > a {
        color: $color-accent !important;
      }
      .thumbnail {
        border-color: $color-accent;
        background-color: $color-accent;
      }
      .btn-warning {
        background-color: $color-accent;
      }
    }
    &__image {
      width: 100%;
    }
    &__button {
      float: right;

      margin-bottom: 30px;

      transition: background-color 0.25s;
    }
    &__text {
      text-align: justify;
    }
    &__thumbnail {
      margin-bottom: 0;

      transition: background-color 0.25s;
    }
    h3 > a {
      transition: color 0.25s;
    }
  }
}

