.film-info {
  overflow: hidden;
  &__wrapper {
    white-space: nowrap;

    font-size: 1.2em;
    &:not(:last-of-type) {
      margin-right: $gap;
    }
  }
  .badge {
    font-size: 0.8em;
  }
}
.film-description {
  @include hidden-relative;
}

.film-comments {
  @include hidden-relative;
  .glyphicon {
    margin-right: ($gap-sm - 0.5px);
  }
}

.film-comment-form {
  @include hidden-relative;
  textarea {
    max-width: 100%;
    height: 214px;
  }
  .btn {
    float: right;

    margin-top: $gap;
  }
}
