.left-sidebar {
  @extend %margin-bottom-lg;
}

.vertical-slider {
  overflow: hidden;

  border-radius: 4px;
  &__image {
    width: 100%;
  }
}

$image-size: 75px;
$image-size-witch-padding: $image-size + $gap-md;

.site-news-item {
  position: relative;

  clear: both;

  min-height: $image-size-witch-padding;

  &:not(:last-child) {
    margin-bottom: $gap;
    &::after {
      position: absolute;
      right: 0;
      bottom: -4px;

      width: calc(100% - #{$image-size-witch-padding});
      height: 1px;

      content: "";

      background-color: $color-gray;
    }
  }

  &:hover {
    a {
      color: $color-accent;
    }
    .thumbnail {
      border-color: $color-accent;
      background-color: $color-accent;
    }
  }

  &__title {
    margin-bottom: 0.5em;
  }

  &__thumbnail {
    float: left;

    width: $image-size;
    margin: 0 $gap-md 0 0;
  }

  &__image {
    width: 100%;
  }

  &__link {
    transition: color 0.5s;

    font-size: 1rem;

    @include block-shortener (1rem, 1.5, 50px, 2);

    // display: -webkit-box;
    // -webkit-line-clamp: 2;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
  }

  &__date {
    text-align: right;

    color: $color-gray-dark;

    font-size: 0.8rem;
  }
}

.film-rating {
  &__list {
    margin-bottom: 0;
  }
  &__body {
    padding-right: 0;
    padding-left: 0;
  }

  &__item {
    margin-right: -1px;
    margin-left: -1px;
    padding-right: 50px;

    color: $color-primary !important;
    background-color: transparent;
    &:first-child {
      border-top: none;
      border-radius: 0;
    }
    &:last-child {
      border-bottom: none;
      border-radius: 0;
    }
    &:hover,
    &:focus {
      color: $color-white !important;
      border-color: $color-accent;
      background-color: $color-accent !important;
      .badge {
        background-color: $color-black;
      }
    }
  }

  &__badge {
    position: absolute;
    top: 50%;
    right: $gap;

    transform: translateY(-50%);
  }
}
