$color-primary: #165690;
$color-primary-light: #517ba2;
$color-primary-dark: #053159;

$color-accent: #df8a13;
$color-accent-light: lighten($color-accent, 15%);

$color-dark: #232323;
$color-deep-dark: darken($color-dark, 4%);

$color-gray: #d5d5d5;
$color-gray-light: lighten($color-gray, 12%);
$color-gray-dark: darken($color-gray, 40%);

$color-white: #ffffff;

$color-black: #000000;
