$font-main: "PT Sans", sans-serif;
$font-header: "PT Serif", serif;
$font-size: 16px;

$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;

$gap: 15px;
$gap-sm: $gap * 0.5;
$gap-md: $gap * 0.666666666;
$gap-xl: $gap * 5.333333333333;
