.header-logo__description, .header-logo__title {
  text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 20px #000000;
}

.left-sidebar, .main, .header {
  margin-bottom: 79.99999995px;
}

.navbar-inverse {
  margin-bottom: 0;
  border-color: transparent;
  background-color: #191919;
}
.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}
.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #517ba2;
}
.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background-color: #165690;
}
.navbar-inverse .navbar-header {
  text-align: center;
}
.navbar-inverse .navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel {
  background-color: #f4f4f4;
}
.panel:not(:last-of-type) {
  margin-bottom: 30px;
}
.panel:last-of-type {
  margin-bottom: 0;
}
.panel-info {
  border: none;
}
.panel-info > .panel-heading {
  letter-spacing: 0.08em;
  color: #ffffff;
  border: none;
  background-color: #df8a13;
  font-size: 1.25rem;
}
.panel-body {
  border: 1px solid #d5d5d5;
  border-radius: 0 0 4px 4px;
}

.input-lg, .input-group-lg > .form-control {
  font-size: 0.875rem;
}

.user-login {
  position: relative;
}
.user-login__tabs {
  position: absolute;
  top: 0;
  right: 15px;
  margin-right: -5px;
  border: none;
}
.user-login__tabs a {
  padding: 14px 5px 12px !important;
  color: #d5d5d5;
  border: none !important;
  background-color: transparent !important;
}
.user-login__tabs .active a {
  color: #ffffff !important;
}

.thumbnail {
  -webkit-transition: background-color 0.2g5s;
  -o-transition: background-color 0.2g5s;
  transition: background-color 0.2g5s;
}

html {
  overflow-y: scroll;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

a {
  color: #165690;
}
a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

h2 {
  font-size: 2.5rem;
  color: #333333;
  font-family: "PT Serif", serif;
  margin-bottom: 45px;
  margin-top: 60px;
  margin-left: 45px;
  overflow: hidden;
  line-height: 1.1;
}
h2::before {
  position: absolute;
  left: 0;
  width: 30px;
  margin: 0.25em 0 0 0;
  content: "";
  border-bottom: 3px solid #f0ad4f;
}
h2::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  border-bottom: 3px solid #f0ad4f;
  margin: 0.85em 0 0 15px;
}

h3 {
  margin-top: 20px;
}

p {
  margin: 0 0 10px;
}

.header-logo {
  padding: 100px 0;
  text-align: center;
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
}
.header-logo__title {
  display: block;
  margin-right: -0.33em;
  letter-spacing: 0.33em;
  color: #df8a13;
  font-family: "PT Serif", serif;
}
.header-logo__description {
  display: block;
  letter-spacing: 0.2em;
  color: #ffffff;
  font-size: 1.15rem;
}

.main .site-search {
  margin-bottom: 45px;
}
.main .user-login {
  margin-bottom: 60px !important;
}

.new-films {
  overflow: hidden;
}
.new-films__title {
  font-size: 3rem;
  font-family: "PT Serif", serif;
  margin-bottom: 3rem;
  margin-top: -10px;
  line-height: 1.1;
  color: #333333;
  position: relative;
}
.new-films__title::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  border-bottom: 3px solid #f0ad4f;
  margin: 0.85em 0 0 15px;
}
.new-films-row {
  margin-right: -7.5px;
  margin-left: -7.5px;
  margin-bottom: -15px;
}
.new-films-item {
  padding-right: 7.5px;
  padding-left: 7.5px;
  margin-bottom: 15px;
}
.new-films-item:hover .new-films-item__thumbnail {
  background-color: #df8a13;
}
.new-films-item:hover .new-films-item__title {
  color: #ffffff;
}
.new-films-item__title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-size: 1rem;
  color: #333333;
  font-weight: 700;
  text-align: center;
  margin: 0;
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}
.new-films-item__thumbnail {
  margin-bottom: 0;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.top-films {
  overflow: hidden;
  position: relative;
}
.top-films-row {
  margin-right: -7.5px;
  margin-left: -7.5px;
  margin-bottom: -15px;
}
.top-films-item {
  padding-right: 7.5px;
  padding-left: 7.5px;
  margin-bottom: 15px;
}
.top-films-item:hover .top-films-item__thumbnail {
  background-color: #df8a13;
}
.top-films-item:hover .top-films-item__title {
  color: #ffffff;
}
.top-films-item__title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-size: 1rem;
  color: #333333;
  font-weight: 700;
  text-align: center;
  margin: 0;
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}
.top-films-item__thumbnail {
  margin-bottom: 0;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.film-news {
  overflow: hidden;
  position: relative;
}
.film-news-row {
  margin-right: -7.5px;
  margin-left: -7.5px;
  margin-bottom: -15px;
}
.film-news-item {
  position: relative;
}
.film-news-item__image {
  width: 100%;
}
.film-news-item__button {
  float: right;
  margin-bottom: 30px;
}
.film-news-item__text {
  text-align: justify;
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;
}
.vertical-slider__image {
  width: 100%;
}

.site-news-item {
  position: relative;
  min-height: 85px;
  clear: both;
}
.site-news-item:not(:last-child) {
  margin-bottom: 15px;
}
.site-news-item:not(:last-child)::after {
  position: absolute;
  content: "";
  height: 1px;
  width: calc(100% - 85px);
  background-color: #d5d5d5;
  right: 0;
  bottom: -4px;
}
.site-news-item:hover a {
  color: #df8a13;
}
.site-news-item:hover .thumbnail {
  border-color: #df8a13;
  background-color: #df8a13;
}
.site-news-item__title {
  margin-bottom: 0.5em;
}
.site-news-item__thumbnail {
  float: left;
  margin: 0 10px 0 0;
  width: 75px;
}
.site-news-item__image {
  width: 100%;
}
.site-news-item__link {
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  font-size: 1rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-line-clamp: 2;
}
.site-news-item__date {
  text-align: right;
  color: #6f6f6f;
  font-size: 0.8rem;
}

.film-rating__body {
  padding-right: 0;
  padding-left: 0;
}

.main {
  min-height: 300vh;
}

.film-rating__list {
  margin-bottom: 0;
}
.film-rating__item {
  margin-right: -1px;
  margin-left: -1px;
  background-color: transparent;
  color: #165690 !important;
  padding-right: 50px;
}
.film-rating__item:first-child {
  border-top: none;
  border-radius: 0;
}
.film-rating__item:last-child {
  border-bottom: none;
  border-radius: 0;
}
.film-rating__item:hover, .film-rating__item:focus {
  border-color: #df8a13;
  color: #ffffff !important;
  background-color: #df8a13 !important;
}
.film-rating__item:hover .badge, .film-rating__item:focus .badge {
  background-color: #000000;
}
.film-rating__badge {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer {
  background-color: #232323;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (min-width: 576px) {
  .header-logo__title {
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li {
    margin: 5px;
  }
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-inverse .navbar-left > li {
    margin: 5px 5px 5px 0;
  }
  .navbar-inverse .navbar-right > li {
    margin: 5px 0 5px 5px;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-inverse .navbar-right {
    margin-top: -7.5px;
  }
}

@media (max-width: 575.8px) {
  .header-logo__title {
    font-size: 2.5rem;
  }
}